/* reset  */
:root {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --primal-first: #0071b5;
  --primal-secon: #002a41;
}

body {
  padding: 0;
  margin: 0;
}
* {
  font-family: "Arimo", sans-serif;
}
a,
li,
ul {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

/* header mid */
.header-mid {
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-mid .logo img {
  width: 200px;
}
.header-mid .search-bar {
  width: 80%;
}

/* header top */
.header-top .left-content .list-group-item {
  padding: 0;
}
.header-top .right-content .list-group-item {
  border-radius: 0;
}

.header-top .right-content .list-group-item .link-dark {
  padding: 0 30px;
  border-left: 1px solid;
}
.header-top .right-content .list-group-item .link-dark.first {
  border: none;
}
.list-group-item {
  border: none;
}
.header-top .right-content .list-group-item {
  padding: 20px 0;
}

/* search bar */
.btn-search {
  border: 1px solid var(--primal-first);
  color: var(--primal-first);
  font-weight: 500;
}
.btn-search:hover {
  background-color: var(--primal-secon);
  color: var(--primal-first);
}
/* navbar */
.navbar {
  padding: 0;
}
.navbar .nav-item {
  margin-right: 10px;
}
.link-dark:hover {
  color: var(--primal-first);
}
.navbar .nav-item .nav-link {
  padding: 20px;
}

/* dropdown */
.show {
  display: block;
}
.dropdown-menu {
  border-radius: 0;
  border: none;
  padding: 10px;
}
.dropdown-item {
  padding: 10px;
}
.navbar .nav-link.active {
  background-color: var(--primal-first);
}
.dropdown:hover .dropdown-menu {
  display: block;
}
.dropdown:hover .nav-link {
  background-color: var(--primal-first);
}
.navbar-dark .navbar-nav .nav-link {
  color: white;
}
.dropdown-item:hover {
  background: var(--primal-first);
}
.navbar-dark .navbar-nav .nav-link:hover {
  background-color: var(--primal-first);
  color: white;
}

/* footer */
footer .main {
  color: white;
  padding: 20px 0;
  border-top: 1px solid white;
  display: flex;
  justify-content: space-between;
}
footer .coppy {
  padding-left: 20px;
}
footer .tech {
  padding-right: 20px;
}
footer .tech a {
  margin: 0 5px;
  color: white;
}
/* slider */
.slider {
  margin: 10px 0;
  width: 100%;
  position: relative;
  overflow-x: hidden;
}

.slider .slider-btn {
  position: absolute;
  display: block;
  height: 100%;
  width: 10%;
  font-size: large;
  background-color: transparent;
  border: none;
  z-index: 10;
}
.slider-btn-left {
  left: 0;
}
.slider-btn-right {
  right: 0;
}
/* slider main */
.slider-main {
  margin: auto;
  position: relative;
  overflow: hidden;
  height: 500px;
  width: 900px;
}
/* silder item */
.slider-main .slider-item {
  position: absolute;
  display: flex;
  flex-wrap: nowrap;
  padding: 10px;
  width: 0%;
  height: 0%;
  left: auto;
  right: auto;
  opacity: 0;
}

/* active slide  */
.slider-item.active {
  opacity: 1;
  animation-name: SliderShow;
  animation-duration: 2s;
  width: 100%;
  height: 100%;
}
@keyframes SliderShow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.slider-item .content-text {
  width: 30%;
  position: relative;
  top: 0;
  left: 0;
}
.slider-item .content-text .title {
  color: var(--primal-first);
  font-size: 30px;
  font-weight: 600;
}
.slider-item .content-text .price {
  color: var(--primal-secon);
}
.slider-item .content-text .btn-show {
  position: absolute;
  top: 50%;
  z-index: 10;
  background-color: var(--primal-first);
  color: white;
  font-size: large;
  border-radius: 20px;
  width: 100px;
  height: 40px;
  border: none;
  text-align: center;
  line-height: 40px;
  padding: 0;
}
.slider-item .content-img {
  width: 70%;
  position: relative;
}
.slider::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
.slider-item .content-img .off {
  position: absolute;
  background-color: var(--primal-first);
  color: white;
  width: 100px;
  height: 100px;
  text-align: center;
  line-height: 100px;
  border-radius: 100px;
  top: 0%;
  left: 0;
}

@media (max-width: 767px) {
  .container {
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin: 0;
  }
  /* mavbar */
  .navbar > .container,
  .navbar > .container-fluid,
  .navbar > .container-lg,
  .navbar > .container-md,
  .navbar > .container-sm,
  .navbar > .container-xl,
  .navbar > .container-xxl {
    max-width: 100%;
  }

  .navbar .nav-link.active {
    background-color: var(--bs-dark);
    color: var(--primal-first) !important;
  }
  /* dropdown */
  .dropdown-menu {
    padding: 0;

    background-color: var(--bs-dark);
  }

  .dropdown .dropdown-item {
    color: var(--bs-white);
    padding: 20px;
  }
  .navbar-toggler {
    width: 40px;
    height: 40px;
    background-color: var(--bs-blue);
  }
  /*  */
  .navbar .nav-item {
    margin: 0;
  }

  /* header top */
  .header-top {
    display: none;
  }
  /* header mid */
  .header-mid {
    display: block;
  }
  .header-mid .logo {
    text-align: center;
  }
  .header-mid .search-bar {
    padding-top: 10px;
    width: 100%;
  }
  footer {
    display: none;
  }
}
